<mat-drawer-container class="sidenav-container" fxLayout="column" fxLayout.xs="row">

  <mat-drawer #drawer class="the-sidenav" [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()">
    <app-sidenavitems (click)="isLargeScreen()?'':drawer.toggle()"></app-sidenavitems>
  </mat-drawer>

  <mat-drawer #drawer2 class="the-sidenav2" [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()"
              position="end">
    <app-rightsidenav></app-rightsidenav>

  </mat-drawer>

  <div class="sidenav-content" fxLayout="row" fxLayout.xs="row">

    <div class="main" fxFlex="95%" fxFlex.xs="95%" [@animRoutes]="getPage(appOutlet)">
      <button class="sidebutton" mat-raised-button color="primary" mat-button (click)="drawer.toggle()">
        <mat-icon>reorder</mat-icon>
      </button>
      <router-outlet #appOutlet="outlet"></router-outlet>
    </div>

    <div class="right" fxFlex="5%" fxflex.xs="5%" fxLayoutAlign="end">
      <button class="profile sidebutton" mat-raised-button color="primary" mat-button (click)="drawer2.toggle()">
        <mat-icon>account_box</mat-icon>
      </button>
    </div>
  </div>


</mat-drawer-container>
